@model CoollEventsWebApp.Models.Usuario

@{
    ViewBag.Title = "Editar Perfil";
    Layout = "~/Views/coollayout.cshtml";
    ViewBag.Style = "perfil.css";
}


<div id="AllWrapper">
    <div id="leftside">
        <div id="user">
            <img src="~/Resources/img/usericon.png" />
            <div> @Model.Nome @Model.Sobrenome </div>
            <div style="font-size: 1.3rem; margin-top: 2vh"> @Model.Apelido </div>

            @*<div style="margin-top: 5vh;">
                <a id="buttonEditar" href="/perfil/editar">
                    Editar dados
                </a>
            </div>*@
            <div style="margin-top: 5vh">
                @Html.ActionLink("Confirmar", "Index", "Editar", null, new { id = "buttonConfirmar" })
            </div>
        </div>

    </div>
    <div id="rightside">
        <div id="perfilwrapper">
            <h1> Perfil </h1>
            <div id="itemsContent">
                <div id="p1">

                    <div class="itemPerfil">
                        <h2> Email </h2>
                        <div> @Model.Email </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Senha </h2>
                        <div> ******** </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Data de Nascimento </h2>
                        <div> @Model.DataNascimento </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Sexo </h2>
                        <div>
                            @{
                                if (Model.Sexo == "M")
                                { <div>Masculino</div> }
                                else
                                { <div> Feminino </div>}
                            }
                        </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Estado Civil </h2>
                        <div> @Model.Civil</div>
                    </div>
                    <div class="itemPerfil">
                        <h2> UF </h2>
                        <div> @Model.UF </div>
                    </div>
                </div>
                <div id="p2">
                    <div class="itemPerfil">
                        <h2> Cidade </h2>
                        <div> @Model.Cidade </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> CEP </h2>
                        <div> @Model.CEP </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Bairro </h2>
                        <div> @Model.Bairro </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Logradouro + Número </h2>
                        <div> @Model.Logradouro, @Model.Numero </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Complemento </h2>
                        <div> @Model.Complemento </div>
                    </div>
                    <div class="itemPerfil">
                        <h2> Descrição </h2>
                        <div> @Model.Descricao </div>
                    </div>
                </div>
                <div id="p3">
                    @*<div class="itemPerfil">
                        <h2 style="color: #dc5ca3"> Pontuação </h2>
                        <div> @Model.Pontuacao </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

