@model CoollEventsWebApp.Models.Usuario

@{
    ViewBag.Title = "Editar Perfil";
    Layout = "~/Views/coollayout.cshtml";
    ViewBag.Style = "perfil.css";
}

<style>

    #DataNascimento {
        margin: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #191919;
        font-size: 1.1rem;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    #Sexo, #Civil, #UF { 
        background-color: transparent;
        border: 1px solid #1f1f1f;
        color: #1f1f1f;
    }

    .itemPerfil h2 {
        color: #4d4d4d !important;
    }

    .input-edit, #CEP {
        color: #1a1a1a;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #191919;
        font-size: 1.1rem;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

        .input-edit:focus, #CEP:focus {
            outline: none;
        }

    form { 
        margin: 0;
    }

</style>

@using(Html.BeginForm("Update", "Editar", FormMethod.Post)) {  
    <div id="AllWrapper">
        <div id="leftside">
            <div id="user">
                <a></a>
                <img src="~/Resources/img/usericon.png" />
                <div class="itemPerfil">
                    <h2 style="text-align: left; font-size: 1.2rem"> Nome </h2>
                    <input class="input-edit" id="Nome" name="Nome" value="@Model.Nome" />
                </div>
                <div class="itemPerfil">
                    <h2 style="text-align: left; font-size: 1.2rem"> Sobrenome </h2>
                    <input class="input-edit" id="Sobrenome" name="Sobrenome" value="@Model.Sobrenome" />
                </div>
                <div class="itemPerfil">
                    <h2 style="text-align: left; font-size: 1.2rem"> Sobrenome </h2>
                    <input class="input-edit" id="Apelido" name="Apelido" value="@Model.Apelido" />
                </div>
                @*<div style="margin-top: 5vh;">
                <a id="buttonEditar" href="/perfil/editar">
                    Editar dados
                </a>
                </div>*@
                <div style="margin-top: 5vh">
                    <input type="submit" id="buttonConfirmar" onclick="return CheckForm()" value="Confirmar" />
                </div>
            </div>

        </div>
        <div id="rightside">
            <div id="perfilwrapper">
                <h1> Perfil </h1>
                <div id="itemsContent">
                    <div id="p1">

                        <div class="itemPerfil">
                            <h2> Email </h2>
                            <input class="input-edit" id="Email" name="Email" value="@Model.Email" />
                        </div>
                        <div class="itemPerfil">
                            <h2> Data de Nascimento </h2>
                            <input type="text" class="input-edit" id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento"/>
                        
                        </div>
                        <div class="itemPerfil">
                            <h2> Sexo </h2>
                            <select class="form-control" id="Sexo" name="Sexo" style="font-size: 1rem;">
                                @{
                                    if (Model.Sexo == "M")
                                    {
                                        <option selected>Masculino</option>
                                        <option>Feminino</option>
                                    }
                                    else
                                    {
                                        <option>Masculino</option>
                                        <option selected>Feminino</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="itemPerfil">
                            <h2> Estado Civil </h2>
                            <select class="form-control dropdown-select" id="Civil" name="Civil" style="font-size: 1rem;">
                                @{
                                    if (Model.Civil == "Solteiro")
                                    {
                                        <option selected>Solteiro</option>
                                        <option>Casado</option>
                                    }
                                    else
                                    {
                                        <option>Solteiro</option>
                                        <option selected>Casado</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="itemPerfil">
                            <h2> UF </h2>
                            <select id="UF" name="UF" style="font-size: 1rem;">
                                <option value="@Model.UF" selected>@Model.UF</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                                <option value="EX">Estrangeiro</option>
                            </select>
                        </div>
                    </div>
                    <div id="p2">
                        <div class="itemPerfil">
                            <h2> Cidade </h2>
                            <input class="input-edit" id="Cidade" name="Cidade" value="@Model.Cidade" />
                        </div>
                        <div class="itemPerfil">
                            <h2> CEP </h2>
                            <input type="number" class="input-edit" id="CEP" name="CEP" value="@Model.CEP" />
                        </div>
                        <div class="itemPerfil">
                            <h2> Bairro </h2>
                            <input class="input-edit" id="Bairro" name="Bairro" value="@Model.Bairro" />
                        </div>
                        <div class="itemPerfil">
                            <h2> Logradouro + Número </h2>
                            <input class="input-edit" id="Logradouro" name="Logradouro" value="@Model.Logradouro" />
                            <input class="input-edit" id="Numero" name="Numero" value="@Model.Numero" style="margin-top: 2vh; width: 30%;"/>
                        </div>
                        <div class="itemPerfil">
                            <h2> Complemento </h2>
                            <input class="input-edit" id="Complemento" name="Complemento" value="@Model.Complemento" />
                        </div>
                        <div class="itemPerfil">
                            <h2> Descrição </h2>
                            <input class="input-edit" id="Descricao" name="Descricao" value="@Model.Descricao" />
                        </div>
                    </div>
                    <div id="p3">
                        @*<div class="itemPerfil">
                            <h2 style="color: #dc5ca3"> Pontuação </h2>
                            <div> @Model.Pontuacao </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" type="text/javascript"></script>
<script>
    $('#DataNascimento').mask('00/00/0000');

    function CheckForm() {
        if ($("#DataNascimento").val().substring(6) < 1900 || $("#DataNascimento").val().substring(6) > (new Date().getFullYear() - 18)) {
            alert('Data de nascimento inválida. OBS: É obrigatório ter mais de 18 anos.');
            return false;
        }
        else {
            return true;
        }
    };
</script>
